* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    background-color: rgb(71, 124, 181);
}

header {
    /* 13. The navbar should always be at the top of the viewport. */
    /* 15. My product landing page should utilize CSS flexbox at least once. */    
    position: sticky;
    display: flex;   
    top: 0;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    font-size: 1em;
    background-color: black;
    opacity: .5;
    z-index: 1;
}

#header-img {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.5px;
    color: white;
    background-color: none;
}

.header-img {
    width: 60px;
    margin-right: 8px;
}

.nav-link {
    display: inline-block;
    margin-left: 50px;
    cursor: pointer;
    transition: color 0.5s;
    color: white;
    font-size: 1.2em;
}

.main {
    display: flex;
}

.left {
    max-width: 60%;
}

#title {
    font-size: 3em;
    letter-spacing: 1px;
    color: orange;
    text-shadow: 1px 1px 4px black;
    padding: 20px 20px 0px 20px;
}

#title strong {
    font-size: 1.5em;
    display: block;
    line-height: 70px;
}

.description {
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 32px;
    color: white;
    text-shadow: 5px 10px 10px black;
    opacity: .5;
    text-align: justify;
    padding: 10px 20px 10px 20px;
}

#video {
    padding-left: 10px;
    width: 90%;
}

.right {
    padding: 50px;
    max-width: 40%;
}

.right img {
    max-width: 100%;
    margin: 20px 40px 40px 20px;
}

#infojs {
    border-radius: 16px;
    max-width: 100%;
    text-align: center;
    padding: 10px;
    line-height: 25px;
    font-weight: bold;
    margin: auto;
}

#infojs {
    list-style-type: none;
}

#section1, #section2 {
    text-align: center;
    font-size: 1.5em;
    height: 100vh;
}

.subtitle p {
    font-size: 1.5em;
    font-weight: bolder;
    padding-top: 20px;
}

.description1, #description1 {
    padding: 20px 50px;
}

.pic {
    padding: 50px 0px;
    border: 5px solid black;
    max-width: 100%;
}

.info2 ul {
    font-weight: bolder;
    padding-top: 50px;
}

.pic1 {
    padding: 30px 0px;
    border: 5px solid black;
    max-width: 100%;
}

.info3 ul {
    font-weight: bolder;
    padding: 10px 10px 0px 10px;
    list-style-type: none;
}

#form label {
    font-weight: bolder;
}

footer {
    background-color: black;
    text-align: center;
}

#section3 {
    display: none;
}

/* 14. My product landing page should have at least one media query. */

@media only screen and (min-width: 991px) and (max-width:1246px){
    .info2 ul {
        font-weight: bolder;
        padding-top: 10px;
    }

    .description1, #description1 {
        padding: 10px 40px;    
        text-align: justify;
    }

    .subtitle p {
        padding: 10px;
    }

    .pic, .pic1 {
        padding: 20px 0px;
        border: 2px solid black;
        max-width: 50%;
    }

    .info3 ul {
        font-weight: bolder;
        padding: 10px 10px 0px 10px;
    }

    #section2 {
        height: 110vh;
    }

    button {
        font-size: 1em;
        padding: 0px;
    }

}

@media only screen and (max-width: 991px){
    .description1, #description1 {
        padding: 10px 30px;
        font-size: 0.9em;
    }

    .pic, .pic1 {
        padding: 30px 0px;
        border: 2px solid black;
        max-width: 50%;
    }

    .info2 ul {
        font-weight: bolder;
        padding-top: 10px;
    }

    .info3 ul {
        font-weight: bolder;
        padding: 10px 10px 0px 10px;
    }

    .subtitle p {
        padding: 0px;
    }

    #section2 {
        height: 100vh;
    }
}

@media only screen and (min-width: 320px) and (max-width:780px) {
    #section3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .subtitle3 p {
        font-size: 2.2em;
        font-weight: bolder;
        padding-top: 10px;
    }

    .description1, #description1 {
        padding: 10px;
        font-size: 0.8em;
        text-align: justify;
    }

    .description3 {
        padding: 10px;
        font-size: 1.2em;
        text-align: justify;
    }

    .item3 img {
        max-width: 40%;
    }

    .info4 ul {
        font-weight: bolder;
        padding: 10px;
        font-size: 1.5em;
    }

    .left {
        max-width: 100%;
        text-align: center;
    }

    #video {
        padding: 0px;
        margin: auto;
        width: 90%;
    }

    .nav-link {
        display: inline-block;
        margin-left: 30px;
    }

    .right {
        display: none;
    }

    #section1, #section3 {
        height: 90vh;
    }

    #section2 {
        height: 95vh;
    }
}

@media only screen and (max-width: 462px) {
    #nav-bar a{
        display: none;
    }
}

@media only screen and (max-width:320px) {
    body {
        display: none;
    }
}